.promises {
    margin-top: 95px;
    background-color: #222224;
    min-height: 341px;
}

.promises-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 104px;
    width: 100%;
}

.promises-block {
    @include size(360px, 134px);
    text-align: center;
}

.promises-block-img {
    @include size(40px, 40px);
    margin: auto;
}

.promises-block-img-svg {
    fill: $pink;
    
}
.right-svg { 
    cursor: pointer;
    &:hover { 
        animation: right-block 2s infinite alternate;
    }
}
@keyframes right-block { 
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100%);
    }  
    100% {
        transform: translateX(0);
    }
    
}
.rotate-svg { 
    cursor: pointer;
    &:hover { 
        transform: rotateX(360deg);
        transition: 2s;
    }
}
.up-svg {
    cursor: pointer;
    &:hover {
        animation: up-block 1s ease-out infinite alternate;
    }
}
@keyframes up-block { 
    0% {
        transform: scale(1,1) translateY(0);
    }
    50% {
        transform: scale(1,0.9) translateY(-50%);
    } 
    100% {
        transform: scale(1,1) translateY(0%);
    } 
} 

.promises-block-h2 {
    @include text-w-s-lh (400, 20px, 24px);
    color: #FBFBFB;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 16px;
}

.promises-block-p {
    @include text-w-s-lh (300, 14px, 17px);
    text-align: center;
    color: #FBFBFB;
    margin: 0;
}

.feedback-block {
    min-height: 448px;
    background-image: url(../img/landscape.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    background-size: cover;
}

.feedback-block-text {
    width: 360px;
    padding-top: 97px;
    text-align: center;
    display: inline-block;
}
/*.feedback-block-text img:hover {
    transform: scale(1.4);
    transition: 0.5s;
}*/

.feedback-block-text-p {
    @include text-w-s-lh (normal, 20px, 24px);
    color: #222224;
    margin-top: 30px;
}

.feedback-block-input {
    padding-top: 150px;
    width: 557px;
    text-align: center;
}

.feedback-block-input-text-h2 {
    @include text-w-s-lh (700, 24px, 38px);
}

.feedback-block-input-text-h3 {
    @include text-w-s-lh (400, 18px, 30px);
}

.feedback-block-input-button {
    height: 49px;
    @include flex-jcc;
    margin-top: 26px;
}

.feedback-block-input-button input[type="email"] {
    width: 256px;
    border: 0px;
    background: #E1E1E1;
    border-bottom-left-radius: 24.5px;
    border-top-left-radius: 24.5px;
    padding-left: 22px;
    padding-right: 22px;
}

.feedback-block-input-button input[type="email"]:focus {
    background: #FFFFFF;
    outline: none;
}

.feedback-block-input-button input[type="submit"] {
    width: 100px;
    background: $pink;
    border: 0px;
    border-bottom-right-radius: 24.5px;
    border-top-right-radius: 24.5px;
    color: #FFFFFF;
    cursor: pointer;
}

.feedback-block-input-button input[type="submit"]:focus {
    outline: none;
    background: $black;
}

.footer {
    min-height: 79px;
    background: #222224;
    @include flex-sb-ac;
}

.links-block-copy {
    @include text-w-s-lh (400, 16px, 19px);
    color: #FBFBFB;
}

.links-block-links {
    display: flex;
}

.links-block-link {
    color: $black;
    text-decoration: none;
    font-size: 16px;
    background-color: #FFFFFF;
    margin: 3.5px;
    @include size(32px, 32px);
    @include flex-jcc;
    align-items: center;
    &:hover {
        color: #FFFFFF;
        background-color: $pink;
        transition: 0.4s;
    }
}
@media (max-width: 1130px) {
    .promises {
        margin-top: 65px;
        min-height: 610px;
    }
    .promises-container {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    .promises-block {
        margin-top: 48px;
    }
}
@media (max-width: 788px) {
    
    .feedback-block {
        min-height: 614px;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
    }
    .feedback-block-text {
        padding-top: 64px;
    }
    .feedback-block-input {
        padding-top: 48px;
        justify-content: none;
        width: 100%;
    }
    .feedback-block-input-button {
        width: 100%;
    }


    .links-block-copy {
      margin-left: 16px;
    }
    .links-block-links {
      margin-right: 16px;
    }
  }
  @media (max-width: 400px) {
    .promises {
        margin-top: 95px;
    }
    .feedback-block {
        min-height: 550px;
    }
    .feedback-block-input  {
          width: 100%;
          padding-top: 59px;
      }
    .footer {
        flex-direction: column-reverse;
        min-height: 143px;        
    }
    .links-block-copy {
        margin-left: 0;
        margin-bottom: 9px;
      }
      .links-block-links {
        margin-right: 0;
        margin-top: 43px;
      }
  }