.promo {
  min-height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F1E4E6;
}

.promo-men-bcg {
  background-color: #F1E4E6;
}

.promo-men {
  height: 764px;
  background-size: 100%;
  background-image: url(../img/promo-men.png);
}

.promo-bgc {
  width: 801px;
}

.promo-bgc-text {
  height: 92px;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
  margin-top: 290px;
  margin-left: 63.5px;
}

.promo-bgc-text-h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.promo-bgc-text-p {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.promo-bgc-text-p-pink {
  color: #F16D7F;
}

.sales {
  min-height: 470px;
  margin-top: 64px;
}

.sales-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sales-people-div {
  min-width: 360px;
  min-height: 260px;
  text-align: center;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.sales-people-div:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: 3s;
  transition: 3s;
}

.sales-people-link {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.sales-people-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-bottom: 7px;
  margin: 0;
  text-transform: uppercase;
}

.sales-people-p-w {
  padding-top: 105px;
}

.sales-people-p-a {
  padding-top: 65px;
}

.sales-people-h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
  margin: 0;
}

.sales-people-div-w {
  background-image: url(../img/sale-for-women.jpg);
  background-color: #211616;
}

.sales-people-div-m {
  background-image: url(../img/sale-for-men.jpg);
  background-color: #211616;
}

.sales-people-div-k {
  background-image: url(../img/sale-for-kids.jpg);
  background-color: #211616;
}

.sales-people-div-a {
  background-image: url(../img/sale-ACCESORIES.jpg);
  width: 1140px;
  height: 180px;
  text-align: center;
  margin-top: 30px;
  background-color: #211616;
}

.header {
  background-color: #222;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.logo-block-float-l {
  width: 111px;
}

.logo-block-float-r {
  width: 169px;
  padding-top: 7px;
}

.promises {
  margin-top: 95px;
  background-color: #222224;
  min-height: 341px;
}

.promises-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 104px;
  width: 1140px;
}

.promises-block {
  width: 360px;
  height: 134px;
  text-align: center;
}

.promises-block-img {
  width: 40px;
  height: 40px;
  margin: auto;
}

.promises-block-img-svg {
  fill: #F16D7F;
}

.right-svg {
  cursor: pointer;
}

.right-svg:hover {
  -webkit-animation: right-block 2s infinite alternate;
          animation: right-block 2s infinite alternate;
}

@-webkit-keyframes right-block {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes right-block {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.rotate-svg {
  cursor: pointer;
}

.rotate-svg:hover {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
  -webkit-transition: 2s;
  transition: 2s;
}

.up-svg {
  cursor: pointer;
}

.up-svg:hover {
  -webkit-animation: up-block 1s ease-out infinite alternate;
          animation: up-block 1s ease-out infinite alternate;
}

@-webkit-keyframes up-block {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  50% {
    -webkit-transform: scale(1, 0.9) translateY(-50%);
            transform: scale(1, 0.9) translateY(-50%);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0%);
            transform: scale(1, 1) translateY(0%);
  }
}

@keyframes up-block {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  50% {
    -webkit-transform: scale(1, 0.9) translateY(-50%);
            transform: scale(1, 0.9) translateY(-50%);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0%);
            transform: scale(1, 1) translateY(0%);
  }
}

.promises-block-h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 16px;
}

.promises-block-p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin: 0;
}

.feedback-block {
  min-height: 448px;
  background-image: url(../img/landscape.jpg);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: cover;
}

.feedback-block-text {
  width: 360px;
  height: 225px;
  padding-top: 97px;
  text-align: center;
  display: inline-block;
}

.feedback-block-text img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.feedback-block-text-p {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  margin-top: 30px;
}

.feedback-block-input {
  padding-top: 150px;
  width: 557px;
  height: 142px;
  text-align: center;
}

.feedback-block-input-text-h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
}

.feedback-block-input-text-h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.feedback-block-input-button {
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

.feedback-block-input-button input[type="email"] {
  width: 256px;
  border: 0px;
  background: #E1E1E1;
  border-bottom-left-radius: 24.5px;
  border-top-left-radius: 24.5px;
  padding-left: 22px;
}

.feedback-block-input-button input[type="email"]:focus {
  background: #FFFFFF;
  outline: none;
}

.feedback-block-input-button input[type="submit"] {
  width: 100px;
  background: #F16D7F;
  border: 0px;
  border-bottom-right-radius: 24.5px;
  border-top-right-radius: 24.5px;
  color: #FFFFFF;
  cursor: pointer;
}

.feedback-block-input-button input[type="submit"]:focus {
  outline: none;
  background: #000;
}

.footer {
  min-height: 79px;
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links-block-copy {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.links-block-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-block-link {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  background-color: #FFFFFF;
  margin: 3.5px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links-block-link:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.products {
  margin-top: 97px;
  min-height: 1395px;
  text-align: center;
}

.products-header {
  text-align: center;
}

.products-header-h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #222222;
  margin-bottom: 6px;
}

.products-header-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products-models {
  min-height: 1193px;
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-models-block {
  width: 360px;
  height: 581px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

.products-models-block-link {
  min-width: 360px;
  min-height: 420px;
  display: block;
}

.products-models-block-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 360px;
  min-height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.products-models-block:hover .products-models-block-overlay {
  opacity: 1;
}

.button-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-models-block-btn {
  color: #ffffff;
  width: 139px;
  height: 44px;
  background: none;
  outline: 1px solid #fff;
  border: none;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  text-align: right;
  padding-right: 16px;
  cursor: pointer;
}

.products-models-block-btn:hover {
  background-color: #FF6A6A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products-models-block-btn-svg {
  fill: #fff;
  position: absolute;
  margin-left: 14px;
}

.button-products-models {
  display: inline-block;
  margin-top: 18px;
}

.button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  width: 212px;
  height: 48px;
  background-color: #ffffff;
  outline: 1px solid #FF6A6A;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding-top: 15px;
}

.button:hover {
  background-color: #F26376;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.products-models-block-link-img1 {
  background-image: url(../img/item_1.jpg);
}

.products-models-block-link-img2 {
  background-image: url(../img/item_2.jpg);
}

.products-models-block-link-img3 {
  background-image: url(../img/item_3.jpg);
}

.products-models-block-link-img4 {
  background-image: url(../img/item_4.jpg);
}

.products-models-block-link-img5 {
  background-image: url(../img/item_5.jpg);
}

.products-models-block-link-img6 {
  background-image: url(../img/item_6.jpg);
}

.products-models-block-text {
  padding-left: 17px;
  padding-top: 25px;
  margin: 0;
  text-align: left;
}

.products-models-block-h2 {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.products-models-block-p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  width: 315px;
  margin-top: 13px;
  margin-bottom: 18px;
}

.products-models-block-price {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products-catalog {
  text-align: center;
}

.new_arrivals {
  min-height: 148px;
  background-color: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new_arrivals-left {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.new_arrivals-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 210px;
}

.new_arrivals-right-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
  text-decoration: none;
}

.new_arrivals-right-link:hover {
  font-weight: 700;
  color: #F16D7F;
}

.new_arrivals-right-link-active {
  font-weight: 700;
  color: #F16D7F;
}

.new_arrivals-right-link-p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.filter-block {
  width: 686px;
  margin-top: 34px;
  margin-bottom: 17px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-group {
  position: relative;
  width: 360px;
}

.filter-block-left {
  position: absolute;
  outline: none;
  border: none;
  margin-right: 30px;
  padding-top: 16px;
}

.filter-block-left ::-webkit-details-marker {
  display: none;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  width: 360px;
}

.filter:focus {
  border: none;
  outline: none;
}

.filter-block-left[open] {
  padding-left: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 2;
}

.filter-block-left[open] > summary {
  border: none;
  outline: none;
  color: #EF5B70;
}

.filter-block-left[open] > summary svg {
  fill: #EF5B70;
}

.filter-div {
  background-color: white;
  width: 360px;
  left: 0;
  padding-left: 16px;
}

.category-catalog {
  margin-top: 16px;
  margin-bottom: 16px;
}

.category-catalog[open] > summary {
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
}

.category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  color: #EF5B70;
  cursor: pointer;
}

.category:focus {
  border: none;
  outline: none;
}

.filter-ul {
  list-style-type: none;
  margin-left: 11px;
  margin-top: 24px;
}

.filter-li {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-bottom: 11px;
}

.filter-block-left-p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.filter-block svg {
  fill: #000;
}

.filter-block-left-svg {
  margin-left: 11px;
}

.filter-block-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 297px;
}

.trending {
  width: 132px;
  margin: 0;
  position: relative;
}

.trending[open] {
  padding-left: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 1;
}

.trending[open] > summary {
  border: none;
  outline: none;
  color: #6F6E6E;
}

.trending-sum {
  font-weight: normal;
  color: #6F6E6E;
  width: 100%;
}

.trending-sum svg {
  fill: #6F6E6E;
  margin-left: 10px;
}

.trending-sum-div {
  width: 162px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  margin-top: 5px;
  margin-left: -8px;
  padding: 0;
  position: absolute;
}

.trending-ul {
  margin-top: 7px;
  margin-left: 9px;
}

.filter-li input[type=checkbox] {
  margin-top: 7px;
  margin-right: 9px;
}

.size {
  width: 49px;
}

.size-block {
  width: 79px;
}

.price {
  width: 59px;
}

.price-block {
  width: 89px;
}

.products-models-block-link-catalog-img1 {
  background-image: url(../img/Image1.jpg);
}

.products-models-block-link-catalog-img2 {
  background-image: url(../img/Image2.jpg);
}

.products-models-block-link-catalog-img3 {
  background-image: url(../img/Image3.jpg);
}

.products-models-block-link-catalog-img4 {
  background-image: url(../img/Image4.jpg);
}

.products-models-block-link-catalog-img5 {
  background-image: url(../img/Image5.jpg);
}

.products-models-block-link-catalog-img6 {
  background-image: url(../img/Image6.jpg);
}

.products-models-block-link-catalog-img7 {
  background-image: url(../img/Image7.jpg);
}

.products-models-block-link-catalog-img8 {
  background-image: url(../img/Image8.jpg);
}

.products-models-block-link-catalog-img9 {
  background-image: url(../img/Image9.jpg);
}

.pagination-catalog {
  display: inline-block;
  margin-top: 18px;
}

.pagination {
  padding-left: 0;
  list-style: none;
  width: 284px;
  height: 44px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination-catalog-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.pagination-catalog-link:hover {
  color: #EF5B70;
}

.pagination-catalog-link-icon {
  color: #000;
}

.product-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 777px;
  background-color: #F7F7F7;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slider-img {
  border: none;
}

.slider-btn {
  background-color: #d8d8d8;
  color: #000;
  padding: 13px 17px;
  border: none;
  position: absolute;
  font-size: 22px;
}

.slider-btn:hover {
  color: #F16D7F;
}

.slider-btn-left {
  left: 5px;
}

.slider-btn-right {
  right: 5px;
}

.product-description {
  margin-top: -65px;
  z-index: 1;
  position: relative;
}

.product-description-2 {
  outline: 1px solid #EAEAEA;
  min-height: 600px;
  background-color: #fff;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 65px;
}

.filter-block-product {
  display: inline-block;
}

.filter-block-center-product {
  width: 373px;
}

.filter-block-left-p svg {
  margin-left: 9px;
}

.product-description {
  margin-bottom: 81px;
}

.product-description-p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.product-description-hr {
  margin: 12px;
  background-color: #F16D7F;
  width: 63px;
  height: 3px;
  display: inline-block;
}

.product-description-h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 48.4px;
}

.product-description-text {
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 32px;
  display: inline-block;
}

.product-description-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.product-description-hr2 {
  margin: 64.5px;
  background-color: #EAEAEA;
  width: 642px;
  height: 1px;
  display: inline-block;
}

.button-cart-product-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48.5px;
}

.button-cart-product {
  color: #FF6A6A;
  outline: 1px solid #FF6A6A;
  width: 212px;
  height: 49px;
  padding-right: 0;
  text-align: center;
}

.products-models-block-btn:hover {
  background-color: #FF6A6A;
  color: #FFf;
}

.products-svg {
  fill: #FF6A6A;
  margin-left: 24px;
}

.products-models-catalog {
  min-height: 0;
  margin-bottom: 98px;
}

.cart-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px;
}

.cart-block-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 96px;
}

.cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  height: 305px;
  margin-bottom: 40px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart-product-text {
  margin-left: 30px;
  position: relative;
}

.cart-product-h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-top: 22px;
  margin-bottom: 42px;
  width: 262px;
}

.cart-product-p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  padding-bottom: 6px;
}

.cart-product-sp {
  color: #F16D7F;
}

.number-cart {
  width: 44px;
  height: 25px;
  position: absolute;
  bottom: 62px;
  right: 96px;
  outline: 1px solid #EAEAEA;
  border: none;
  text-align: center;
}

.number-cart::-webkit-inner-spin-button {
  display: none;
}

.button-cart-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 650px;
}

.button-cart {
  margin-top: 42px;
}

.white-card {
  outline: 1px solid #000;
  color: #000;
  text-align: center;
  padding: 17px 40px;
  width: 235px;
  height: 50px;
  text-transform: uppercase;
}

.white-card-2 {
  width: 101px;
  height: 35px;
  font-size: 11px;
  padding: 0;
  outline: 1px solid #A4A4A4;
}

.cart-block-right {
  margin-top: 113px;
}

.shipping-adress {
  width: 360px;
}

.shipping-adress-legend {
  border: none;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shipping-adress-details {
  height: 45px;
  padding-left: 17px;
  margin-bottom: 20px;
  border: 1px solid #A4A4A4;
  text-transform: capitalize;
}

.buy-cart {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  padding: 40px 44px;
  margin-top: 57px;
  text-align: right;
}

.buy-cart-sub {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  padding-bottom: 12px;
}

.buy-cart-sub-span {
  padding-left: 25px;
}

.buy-cart-tot {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 21px;
  border-bottom: 1px solid #E2E2E2;
}

.buy-cart-tot-span {
  font-weight: 700;
  color: #F16D7F;
  padding-left: 25px;
}

.cart-block-btn {
  width: 273px;
  height: 50px;
  padding: 0;
  text-align: center;
  background-color: #F16D7F;
  outline: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.cart-block-btn:hover {
  background-color: #F5F3F3;
  color: #000;
  outline: 1px solid #000;
}

.button-cart-shop {
  margin-top: 17px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  padding: 0 calc(50% - 1140px / 2);
}

.visually-hidden {
  position: absolute;
  left: -999999px;
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.text-black {
  color: #000;
}

.text-grey {
  color: #6F6E6E;
}

.text-pink {
  color: #F16D7F;
}

.text-400 {
  font-weight: 400;
}

.text-600 {
  font-weight: 600;
}

.video {
  background-color: #211616;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-text {
  position: absolute;
  text-align: center;
}

.sales-people-p-w-b {
  color: #FF6A6A;
}

.registration-block {
  margin-top: 64px;
  margin-bottom: 96px;
}

.radio-reg-block {
  margin-top: 11px;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 132px;
  height: 17px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.radio-reg {
  margin-right: 10px;
  cursor: pointer;
}

.reg-emeil {
  text-transform: lowercase;
}

.reg-password {
  text-transform: none;
}

.login-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: -5px;
  margin-bottom: 39px;
}

.cart-block-btn-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-block-btn-reg {
  width: 167px;
  text-align: left;
  padding-left: 27px;
}

.cart-block-svg {
  fill: white;
  position: absolute;
  margin-left: 120px;
}

.loyalty {
  width: 652px;
}

.loyalty-p {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
}

.loyalty-li {
  margin-bottom: 16px;
}

.loyalty-ul {
  list-style-type: none;
}

.loyalty-svg {
  margin-right: 22px;
  fill: black;
}
/*# sourceMappingURL=style.css.map */